@model Mastilo.Web.ViewModels.MasterpieceViewModels.PagableMasterpieces

@if (Model.Masterpieces.Count() == 0)
{
    <div class="jumbotron"><p>Все още нямате произведения!</p></div>
    return;
}
else
{
    foreach (var piece in Model.Masterpieces)
    {
        @Html.Partial("_MasterpiecePartial", piece)
    }
}