@model IEnumerable<Mastilo.Web.ViewModels.MasterpieceViewModels.MasterpieceResponseViewModel>

@foreach (var masterpiece in Model)
{
    <h1>@Html.Raw(masterpiece.Title)</h1>
    <h2>@Html.Raw(masterpiece.DisapprovedMessage)</h2>
}