@model IEnumerable<Mastilo.Web.ViewModels.MasterpieceViewModels.MasterpieceResponseViewModel>

@foreach (var masterpiece in Model)
{
    <h1>@masterpiece.Title</h1>
    <h2>Статус: отхвърлено</h2>
    <h3>@Html.Raw(masterpiece.SanitizedDisapprovedMessage)</h3>
    <hr />
}


@section scripts{
    @Scripts.Render("~/bundles/likeFunctionsBundle");
}