@model Mastilo.Web.ViewModels.CommentViewModels.CommentViewModel

@if (User.Identity.IsAuthenticated)
{
    using (Ajax.BeginForm("PostComment", "Comments", new { @class = "form-horizontal", role = "form" },
                                        new AjaxOptions
                                        {
                                            UpdateTargetId = "commentsSection",
                                            InsertionMode = InsertionMode.Replace
                                        }))
    {
        <h4>Коментирай:</h4>
        @Html.TextAreaFor(c => c.Text, new { style="width: 450px; height: 100px;" })
        @Html.HiddenFor(c => c.MasterpieceId, new { id = "masterpieceIdForAjax" })
        <br />
        <input class="btn btn-primary" type="submit" value="Добави!" />
    }
}
else
{
    <div class="well">
        <p>Регистрирай се за да коментираш!</p>
    </div>
}
<hr />
<div id="commentsSection"></div>